<html>
<head>
	<title>
	Login page
	</title>
</head>
<body>
	<h1 style="font-family:Comic Sans Ms;text-align="center";font-size:20pt;color:#00FF00;>
		Simple Register Page
		<li>id : {{ user_id }}</li>
		<li>pwd : {{ user_pwd }}</li>
	</h1>

	<form name="register" action="register" method="post">
		{{ crsf_token }}
		
		<li>Name<input type="text" name="username" maxlength="20" required/></li>
		<li>Id<input type="text" name="userid" maxlength="20" required/></li>
		<li>Password<input type="password" name="userpwd" maxlength="20" required"/></li>

		<input type="submit" name="submit" value="Register"/>
	</form>
	<a href="runcode">login page</a>>

	<script type="text/javascript">
		var result = "{{ result }}"
		if(result == "success"){
			alert("Register Success! You need to login now.");
			location.href='/runcode';
		}
		else if(result == "id exist"){
			alert("Id Already Exist");
		}
		else if(result == "name exist"){
			alert("Name Already Exist");
		}
	</script>
	

</body>
</html>

